.search-page {
  flex: 0.8;
  padding: 20px;
  padding-bottom: 0;
  &__filter {
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
  }
  &__title {
    margin-left: 10px;
  }
  hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin: 10px 0;
  }
}
