.sidebar {
    flex: .2;
    background-color: #fff;
    height: 100vh;
    padding-right: 10px;
    hr {
        height: 1px;
        border: 0;
        background-color: lightgray;
        margin: 10px 0;
    }
}